[package]
authors = ["FL03 <jo3mccain@icloud.com> (https://github.com/FL03)", "Scattered-Systems (https://github.com/scattered-systems)"]
description = "xtask"
edition = "2021"
license = "Apache-2.0"
name = "xtask"
publish = false
version = "0.1.0" # TODO: Update the package version

[[bin]]
bench = false
name = "xtask"
path = "src/main.rs"
test = false

[build-dependencies]

[dependencies]
scsys = { features = [], version = "0.1.41" }

axum = { features = [], version = "0.6" }
clap = { features = ["cargo", "derive", "env"], version = "4" }
devx-cmd = "0.5.0"
devx-pre-commit = "0.5.0" 
duct = "0.13.6"
serde = { features = ["derive"], version = "1" }
serde_json = "1"
tokio = { features = ["macros", "rt"], version = "1" }
tower = "0.4.13"
tower-http = { features = ["fs"], version = "0.3.5" }
tracing = "0.1"
tracing-subscriber = "0.3"

wasmer = { features = ["enable-serde"], version = "3.1" }
# wasmer-wasi = { features = ["enable-serde", "js"], version = "3.1" }
# wasmedge-sdk = { features = [], version = "0.7.1" }
# wasmedge-sys = { features = [], version = "0.12.2" }

[dev-dependencies]

[package.metadata.docs.rs]
all-features = true
rustc-args = ["--cfg", "docsrs"]

[target.wasm32-unknown-unknown]

[target.wasm32-wasi]