[package]
authors = ["FL03 <jo3mccain@icloud.com> (https://github.com/FL03)"]
categories = []
default-run = "curiosity"
description = "curiosity"
edition = "2021"
homepage = "https://github.com/FL03/curiosity/wiki"
keywords = []
license = "Apache-2.0"
name = "curiosity"
repository = "https://github.com/FL03/curiosity"
version = "0.1.0"
[lib]
crate-type = [ "cdylib", "rlib" ]
test = true

[[bin]]
name = "curiosity"
path = "src/bin/curiosity/main.rs"
test = false

[build-dependencies]

[dev-dependencies]
wasm-bindgen-test = "0.3"

[dependencies]
futures = "0.3.25"
gloo = { features = [ "futures" ], version = "0.8" }
hyper_wasi = { features = ["full"], version = "0.15.0" }
js-sys = { features = [], version = "0.3.60" }
pulldown-cmark = { features = ["serde"], version = "0.9" }
serde = { features = ["derive"], version = "1" }
serde_json = "1"
strum = { features = ["derive"], version = "0.24.1" }
tokio_wasi = { features = ["full"], version = "1.23.0" }
wasm-bindgen = { features = [ "serde-serialize" ], version = "0.2.83"}
wasm-bindgen-futures = "0.4"

[dependencies.web-sys]
features = [
    "CanvasRenderingContext2d",
    "HtmlCanvasElement",
    "Node"
]
version = "0.3.60"

[package.metadata.docs.rs]
all-features = true
rustc-args = ["--cfg", "docsrs"]

[target.wasm32-unknown-unknown]

[target.wasm32-wasi]
